<section class="program__song-information">
  <h3>【曲情報】</h3>
  <% if opening = opening(program) %>
    <h4>＜オープニング曲＞</h4>
    <% opening(program).each do |opening| %>
      <p>→<%= opening.title %>（<%= opening.artist %>）<p>
    <% end %>
  <% end %>

  <% if ending = ending(program) %>
    <h4>＜エンディング曲＞</h4>
    <% ending(program).each do |ending| %>
      <p>→<%= ending.title %>（<%= ending.artist %>）</p>
    <% end %>
  <% end %>

  <% if program.corners.present? %>
    <h4>＜コーナー＞</h4>
    <% program.corners.each do |corner| %>
      <p>
        ・<%= corner.name %><br />
        <% corner.songs.each do |song| %>
          →<%= song.title %>（<%= song.artist %>）
        <% end %>
      </p>
    <% end %>
  <% end %>

  <% if jingles = jingles(program) %>
    <h4>＜ジングル＞</h4>
    <% jingles(program).each do |jingle| %>
      <p>・<%= jingle.title %>（<%= jingle.artist %>）</p>
    <% end %>
  <% end %>

  <% if talk_bgms = talk_bgms(program) %>
    <h4>＜トークBGM＞</h4>
    <% talk_bgms(program).each do |talk_bgm| %>
      <p>・<%= talk_bgm.title %>（<%= talk_bgm.artist %>）</p>
    <% end %>
  <% end %>

  <% if fillers = fillers(program) %>
    <h4>＜フィラー＞</h4>
    <% fillers.each do |filler| %>
      <p>・<%= filler.title %>（<%= filler.artist %>）</p>
    <% end %>
  <% end %>
</section>
