<% @programs.each do |program| %>
  <h1><%= program.name %></h1><br />
  【番組ソング】<br />
  <% program.songs.each do |song| %>
    <%= song.title %>／<%= song.artist %>／<%= song.song_type %><br />
  <% end %>
  【コーナーソング】<br />
  <% program.corners.each do |corner| %>
    <%= corner.id %>→<%= corner.name %><br />
    <% corner.songs.each do |song| %>
      <%= song.id %>／<%= song.title %>／<%= song.artist %><br />
    <% end %>
  <% end %>
  <br />
<% end %>
